.body{ height: 100%;
    display: flex;
    flex-direction: column;
   
}
header{height: 30%;
    border: 1px solid red;
    
    
}
section{

    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
nav{
    border: 1px solid black;
    display: flex;
    flex-direction: column;   
}



.cards{
  display: flex;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}